{{#each this}}
 <li class="country">
    <img class="flag-icon" src="{{this.flags.svg}}" alt="{{this.name.common}}" width="30" height="20">
    <p class="name">{{this.name.common}}</p>
 </li>
{{/each}}